body {
    margin-top: 1.0em;
    background-color: #FFFFFF;
    font-family: "Helvetica,Arial,FreeSans";
    color: #000000;
    font-size: 10pt;
}
#container {
    margin: 2em;
/*    width: 700px;  */
}
h1 { font-size: 3.8em; color: #c87137; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 12pt; color: #c87137; }
h3 { text-align: center; color: #1f9966; }
a { color: #c87137; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre {/* background: #c8ae8a; color: #000000; */ padding: 6pt; padding-left:12pt}
.verbatim { background: #000; color: #fff; padding: 15px;  }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

div.contentspanel
{
/*  background-image: url(red-texture.jpeg); */
/*  background-color: #dddddd; */
  color: black;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 1em;
  float: right;
  margin: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
/*  border-width: thin;
  border-style: solid; */
}
ul.contents
{
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;padding-left: 0;
}
