  <div id="logoname">
  <h1>Kranc</h1>
  </div>
  <p>
  <img id="logoimage" src="krancsmall.png" alt="">
  </p>

  <ol class=contents>
    <li id="nav-about"><a href = "index.html">About</a></li>
    <li id="nav-features"><a href = "features.html">Features</a></li>
    <li id="nav-documentation"><a href = "documentation.html">Documentation</a></li>
    <li id="nav-download"><a href = "download.html">Download</a></li>
    <li id="nav-users"><a href = "users.html">Users</a></li>
    <li id="nav-related"><a href = "related.html">Related</a></li>
    <li id="nav-support"><a href = "support.html">Support</a></li>
    <li id="nav-development"><a href = "development.html">Development</a></li>
  </ol>
